/* .login-form {
    background-color: white;
    width: 400px;
    margin: 10% auto;
    padding: 16px;
}


.login-form .input-group {
    margin: 12px 0px;
}

.login-form .input-group input{
    font-size: 16px;
} */

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.login-page {
    margin: 5% auto;
    width: 550px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.login-page .login-form {
    box-sizing: border-box;
    padding: 40px;
}

.login-page h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    color: var(--site-dark-green);
}


.login-page .forgot_password a,
.got-profile-aside a {
    color: blue;
}

.login-page .got-profile-aside {
    margin-bottom: 5px;
}

.input-field {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 450px;
    height: 32px;
    border: none;
    border-bottom: 1px solid var(--site-green);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: 0.2s ease;
    font-size: 1rem;
}

.input-field:focus {
    border-bottom: 2px solid var(--site-dark-green);
    transition: 0.2s ease;
}

.login-form input[type="submit"] {
    margin-top: 15px;
    height: 32px;
    padding: 8px 16px;
    background: var(--site-dark-green);
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}