*:focus {
    outline: none;
}


.register-page {
    margin: 5% auto;
    width: 550px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.register-page .register-form {
    box-sizing: border-box;
    padding: 40px;
}

.register-page h2 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    color: var(--site-dark-green);
}

.register-page a {
    text-decoration: none;
    color: blue;
}

.register-page .register-page-login,
.register-page .forgot_password {
    margin: 10px 0;
}

.register-page .got-profile-aside {
    margin-bottom: 5px;
}

.input-field {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 450px;
    height: 32px;
    border: none;
    border-bottom: 1px solid var(--site-green);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: 0.2s ease;
    font-size: 1rem;
}

.input-field:focus {
    border-bottom: 2px solid var(--site-dark-green);
    transition: 0.2s ease;
}

.register-form input[type="submit"] {
    margin-top: 15px;
    height: 32px;
    padding: 8px 16px;
    background: var(--site-dark-green);
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

.register-form input[type="submit"]:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}