.cars-page-cars-list {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 8rem;
    justify-content: space-around;
}

.cars-page-title {
    text-align: center;
    margin: 36px;
    letter-spacing: 4px;
    font-size: 38px;
}